* {
    /* *This is a universal selector
    *Can also be called as a Global Reset */
    margin: 0;
    padding: 0;
    /* *This is to remove the default margin and padding */
    box-sizing: border-box;
    /* *This is to include the padding in the width */
}

h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
    /* color: rgb(0, 0, 0); */
}

body {
    position: relative;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* *This is to center the container */
    /* background-color: #f7f7f7; */
    /* padding: 20px;
    padding-left: 30px;
    padding-right: 30px; */
    /* *This is the same as the following */
    /* padding: 20px 30px; */
    /* *20px top and bottom, 30px left and right */

}

.main-header {
    background-color: #f7f7f7;
    /* padding: 20px;
    padding-left: 30px;
    padding-right: 30px; */
    /* *This is the same as the following */
    padding: 20px 30px;
    /* *20px top and bottom, 30px left and right */
    /* margin-bottom: 20px; */
}



nav a:link {
    /* display: inline-block; */
    font-weight: bold;
    /* *This is to make the links block level */

    margin-right: 20px;
    /* margin-top: 10px; */
    /* *This is to give space between the links */
}

nav a:link:last-child {
    margin-right: 0;
    /* *This is to remove the margin from the last link */
}

.post-header {
    /* background-color: #f7f7f7; */
    /* padding: 20px;
    padding-left: 30px;
    padding-right: 30px; */
    /* *This is the same as the following */
    /* padding: 20px 30px; */
    /* *20px top and bottom, 30px left and right */
    margin-bottom: 20px;
    /* position: relative; */
}

/* article {
    margin-bottom: 40px;
} */

.post-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}


aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    /* *This is the same as the following */
    padding: 20px 25px;
    /* *20px top and bottom, 0 left and right */
}

h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
}

h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

h2 {
    font-size: 30px;
    margin-bottom: 25px;
    /* background-color: orange; */
    position: relative;
}

h2::after {
    content: "TOP";
    /* *This is to add content after the h2 */
    background-color: #f8f00f;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -20px;
}

h3 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* h3+p::first-line { */
/* *This is a pseudo-element selection for adjacent sibling element */
/* !Here it's selecting the first line of the paragraph that comes after the h3 */
/* color: red; */
/* } */

h4 {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* p::first-line { */
/* *This is a pseudo-element */
/* color: red */
/* *This is to change the color of the first line of all the paragraph */
/* }  */

ul,
ol {
    margin-left: 35px;
    margin-bottom: 15px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
    /* *This is to remove the margin from the last li */
}

/* li:first-child {
    font-weight: bold;
} */

li:last-child {
    font-style: italic;
}

li:nth-child(odd) {
    font-style: italic;
}

/* !Misconception: This ain't gonna work coz p is not the first child.
?Instead header is the first child. */
/* *Now if we were working with last-child, then the following would work. */
/* article p:first-child {
    color: red;
} */

#author {
    /* *This is to style the author */
    font-style: italic;
    font-size: 18px;
}

#Copyright {
    /* *This is to style the copyright */
    font-size: 15px;
}

.related-author {
    /* *This is to style the related author */
    font-size: 15px;
    font-weight: bold;
}

.related {
    /* *This is to style the related posts */
    list-style: none;
    margin-left: 0;
}

/* body {
    background-color: ;
} */

/* STYLING LINKS */

a:link,
:visited {
    color: #1098ad;
    text-decoration: none;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: rgb(30, 138, 170);
    font-style: italic;
}

/* LVHA is the correct order of specifying
*LVHA: Link, Visited, Hover, Active */

.like-button {
    /* *This is to style the like button */
    position: absolute;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    background-color: #f7f7f7;
    border: 1px solid #1098ad;
    padding: 20px;
    font-size: 20px;
}

/* FLOATS */

/* .main-heading {
    float: left; */
/* *This is to make the heading float to the left */
/* } */

/* .main-nav {
    float: right; */
/* *This is to make the nav float to the right */
/* } */

/* .clearfix::after { */
/* *This is a clearfix hack */
/* content: ""; */
/* *This is to add content */
/* clear: both; */
/* *This is to clear the floats */
/* display: block; */
/* *This is to make the content a block level element */
/* } */

/* article { */
/* *This is to style the article */
/* width: 62%;
    float: left;
} */

/* aside { */
/* *This is to style the aside */
/* width: 35%;
    float: right;
} */

/* footer { */
/* *This is to style the footer */
/* clear: both;
} */


/* !USING FLEXBOX */

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#author {
    margin-bottom: 0;
    margin-left: 10px;
}

.author-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.related-post {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    p {
        margin-bottom: 0;
    }

    /* justify-content: space-between; */
}

.related {
    margin-bottom: 0;
}

.related-author {
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
}

.related-link:link {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    display: block;
    margin-bottom: 5px;
}

p:last-child {
    margin-bottom: 0;
}

/* FLEXBOX LAYOUT */

/* .row {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
    align-items: flex-start;
}

article {
    flex: 1;
    margin-bottom: 0;
}

aside {
    flex: 0 0 400px;
} */

/* GRID LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 400px;
    column-gap: 75px;
    row-gap: 40px;
}

.main-header {
    grid-column: 1 / -1;
}

/* article {} */

aside {
    align-self: self-start;
}

footer {
    grid-column: 1 / -1;
}